/* variables */

:root {
    --color-purple: #4b0082;
}


/* Structure */
body {
    margin: auto;
}

a {
    color: black;
}

a:hover {
    color: crimson;
}

section {
    text-align: center;
}

.top-title {
    font-size: 2.5em;
    color: black;
    text-align: left;
    margin-left: 5px;
}

.add-craft-dialog {
    display: none;
}

.main-crafts {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0px;
    margin: 10px;
    background-color: white;
    color: black;
}

.main-crafts .craft-card {
    flex: 1 1 auto;
    margin: 10px;
    box-sizing: border-box;
    max-width: calc(33.33% - 20px);
}

.main-crafts .craft-card img {
    max-width: 100%;
    height: auto;
}

button, input[type=button] {
    background: var(--color-purple);
    color: white;    
    text-align: center;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: .5em;
    vertical-align: top;
}

.icons {
    height: 32px;
    width: 32px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.craft-photo-small {
    width: 200px;
    height: 100%;
    padding-right: 10px;
    margin: 10px;
}

.add-craft-dialog {
    color: black;
    background-color:none;    
}

.add-craft-info {
    color: black;
    background-color: white;
    width: 80%;
}

.input-form {
    width: auto;
}

.dialog-details {
    justify-items: center; 
    width: auto;       
}

.image-preview {
    background-image: url("images/image-placeholder.png");
    width: 200px;
    margin-bottom: 10px;
    height: 300px;     
}

.image-preview-section {    
    text-align: center;
    display: inline-block;        
    padding: 10px;    
    width: 225px;
}

.craft-form-section {        
    display: inline-block;       
    width: 400px;
    padding: 10px;
    vertical-align: top;
    text-align: left;
}

.expanded-info {
    width: 80%;
    display: flex;    
    flex-wrap: wrap;
    color: black;
    background-color: white;
}

.craft-details {
    display: block;
    text-align: left;
    margin-left: 10px;
}

.craft-details-header {
    width: 95%;
    color: black;
    text-align: left;
    font-weight: bold;
}

.input-header {
    font-size: 1.5em;    
    text-align: left;
    color: black;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: left;
    color: black;
}

textarea {
    width: 100%;
    resize: vertical;
}

.full-input {
    width: 100%;
}

.short-input {
    width: 62%;
    margin-right: 7px;
    vertical-align: top;
}

td {
    vertical-align: top;
}

tr {
    vertical-align: top;        
}

td.left {
    text-align: left;
    vertical-align: top;
}

td.right {
    text-align: right;
    vertical-align: top;
}

main {
    background-color: white;
    padding-bottom: 10px;
}

#main-header {
    background-color: white;
    padding-bottom: 0px;
}

#main-content {
    background-color: white;
    padding: 5px;
    margin: auto;
    text-align: center;
}

#main-footer {
    background-color: white;
    color: black;
    padding: 5px;
}

#main-footer p {
    text-align: center;
}


/* Navigation */


/* Typopgraphy */
body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header h1 {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

#main-content {
    margin-left: 5px;
}

#main-content h4 {
    text-align: center;
    padding-bottom: none;
    margin: auto;
    margin-bottom: none;
}

/* Larger Resolutions */
@media (min-width: 900px) {

    .main-crafts .craft-card {
        max-width: calc(80% - 20px);
        /* Two items per row for smaller screens */
    }

    #main-content {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    section {
        text-align: center;
        margin: auto;
        vertical-align: top;

    }
}

@media (max-width: 576px) {

    /* Adjust the breakpoint as needed */
    .main-crafts .craft-card {
        max-width: calc(100% - 20px);
        /* One item per row for even smaller screens */
    }
}